---
---

@import "{{ site.theme }}";
body {
  background-color:#E0DED0;
  color: #E0DED0;
}
.page-header {
  background-color: #E0DED0;
  background-size: cover;
  background-position: center;
  background-image: 
    url("/assets/images/flower.png"),   /* first copy */
    url("/assets/images/flower-flip.png");   /* second copy */
  background-position: 
    top left, 
    bottom right;
  background-repeat: no-repeat, no-repeat;
  background-size: 20% auto, 20% auto;
}

.project-name {
  font-family: warbler-banner, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 3.75rem;
  color:#9c8867;
  line-height: 100%;
}

.project-tagline {
  font-size: 1.75rem;
}


.fancy {
  font-family: altesse-std-24pt, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 3.3rem;
}

.main-content {
  max-width: 100%;
  background-color:#9c8867;
  font-family: warbler-text, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  color: #E0DED0;
  text-align: center;
  h1 {
    color: #E0DED0;
    font-family: warbler-banner, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 3rem;
    font-style: italic;
    text-align: center;
  }
}

h2 {
  color: #9c8867;
  font-family: warbler-banner, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.75rem;
  font-style: italic;
  text-align: center;
}

.btn {

  border: 1px solid #9c8867;
  border-radius: 0.0rem;
  padding: 0.75rem 1.5rem;
  font-family: warbler-text, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  font-style: italic;
  color: #9c8867;



  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover {
  background: rgba(173, 216, 230, 0.3);
  box-shadow: 0 6px 40px rgba(0, 0, 0, 0.15);
}

.project-tagline {
  opacity: 0.9;
}
